img {
    margin-top: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: azure
}

p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: azure
}

body {
    background-size: 500%;
    background-repeat: no-repeat;
    background-image: url(https://i.gifer.com/81RA.gif);
}
